<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card rounded">
            <div class="card-header">
                <div class="align-items-center">
                    <div class="align-items-center">
                        <h4>Fazer Postagem</h4>
                    </div>
                </div>
            </div>
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label>Mensagem</label>
                        <textarea class="form-control" placeholder="Coloque aqui sua mensagem" style="height: 100px;padding: 0px 8px 65px;">
                        </textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <%= link_to "Postar", user_session, class:"btn btn-primary",style:"float:left"%>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
